Local_Release/
*.pyc
*ICENS*
COPY*
*CONTRIBU*
AUTH*
*PATCH*
*.txt
!CMakeLists.txt
Change*
CHANGE*
README*
asf4/
nxp*/
docs/
doc/
*.md
.vscode/
__pycache__/
*.pyc
/build
*/*/.travis*
_Template_Flash/
_Template_Vendor/
!_Template_Vendor/Device/
Device/*
!Device/ARM/ARMCM0
!Device/ARM/ARMCM0plus
!Device/ARM/ARMCM3
!Device/ARM/ARMCM4
!Device/ARM/SVD
CMSIS/*
!CMSIS/Core/Include
!CMSIS/Lib/GCC
!CMSIS/Include
!CMSIS/NN/
!CMSIS/Utilities
!CMSIS/DSP/
Projects/
Examples/
NN_Lib_Tests/
ARM.CMSIS.pdsc
